<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gallery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<!-- Logo -->
					<div class="logo">
						<a href="{{ url_for('index') }}">
							<img src="static/images/icons/logo.png" alt="IMG-LOGO" data-logofixed="static/images/icons/logo2.png">
						</a>
					</div>

					<!-- Menu -->
					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="{{ url_for('index') }}">Home</a>
								</li>

								<li>
									<a href="{{ url_for('menu') }}">Menu</a>
								</li>

								<li>
									<a href="{{ url_for('gallery') }}">Add new dish</a>
								</li>

							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social flex-w flex-l-m p-r-20">
						<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
			<li class="t-center m-b-13">
				<a href="{{ url_for('index') }}" class="txt19">Home</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{{ url_for('menu') }}" class="txt19">Menu</a>
			</li>

			<li class="t-center m-b-13">
				<a href="{{ url_for('gallery') }}" class="txt19">Add new dish</a>
			</li>

		</ul>

		<!-- - -->
		<div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
			<!-- - -->
			<h4 class="txt20 m-b-33">
				Gallery
			</h4>

			<!-- Gallery -->
			<div class="wrap-gallery-sidebar flex-w">
				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-01.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-01.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-02.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-02.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-03.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-03.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-05.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-05.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-06.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-06.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-07.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-07.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-09.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-09.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-10.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-10.jpg" alt="GALLERY">
				</a>

				<a class="item-gallery-sidebar wrap-pic-w" href="static/images/photo-gallery-11.jpg" data-lightbox="gallery-footer">
					<img src="static/images/photo-gallery-thumb-11.jpg" alt="GALLERY">
				</a>
			</div>
		</div>
	</aside>


	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(static/images/bg-title-page-02.jpg);">
		<h2 class="tit6 t-center">
			Add a New Dish
		</h2>
	</section>

	<!-- Sign up -->
	<div class="section-signup bg1-pattern p-t-85 p-b-85">
		<form id="signup-form" class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
			<span class="txt5 m-10">
				Chef's Sign up
			</span>
	
			<div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
				<input id="username" class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="username" placeholder="Username" required>
				<i class="fa fa-user ab-r-m m-r-18" aria-hidden="true"></i>
			</div>
	
			<div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
				<input id="password" class="bo-rad-10 sizefull txt10 p-l-20" type="password" name="password" placeholder="Password" required>
				<i class="fa fa-lock ab-r-m m-r-18" aria-hidden="true"></i>
			</div>
	
			<button id="signup-btn" type="button" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
				Sign-up
			</button>
		</form>
	</div>
	
	<script>
	document.getElementById("signup-btn").addEventListener("click", function() {
		var username = document.getElementById("username").value;
		var password = document.getElementById("password").value;
	
		console.log("Username:", username);
		console.log("Password:", password);
		if (username == 'admin' && password == "admin"){
			console.log("hello");
			window.location.href = "{{ url_for('add_new_dish') }}";
		}
		else{
			alert("Invalid Username or Password");
		}
	
		// Here you can perform any further processing with the username and password
	});
	</script>

<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="static/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

	

</body>
</html>
